[submodule "softdev-project0"]
	path = softdev-project0
	url = git@github.com:jacksonzou123/softdev-project0.git
[submodule "softdev-project1"]
	path = softdev-project1
	url = git@github.com:ahmedksultan/nounGenerator.git
