<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %}
            -|- 15_login
        </title>
    </head>
    <body>
        {% block header %} {% endblock %}
        {% block form %}
        <form action="/">
            Username:<br>
            <input type="text" name="username"><br>
            Password:<br>
            <input type ="text" name="password"><br>
            <input type="submit" value="Submit">
        </form>
        {% endblock %}
        {% block content %} {% endblock %}
        <div>
            Made By: Team Dental Hygeine <br>
            We floss the right way!
        </div>
    </body>
</html>
